<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>100-200</string>
	<string>200-500</string>
	<string>500-800</string>
	<string>800-1000</string>
	<string>1000-1500</string>
	<string>1500以上</string>
</array>
</plist>
