<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>155</string>
	<string>165</string>
	<string>175</string>
	<string>185</string>
	<string>195</string>
	<string>205</string>
	<string>215</string>
	<string>225</string>
	<string>235</string>
	<string>245</string>
	<string>255</string>
	<string>265</string>
	<string>275</string>
	<string>其他</string>
</array>
</plist>
